*{
    margin: 0;
    padding: 0;
}

body{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 10px;
    height: 25px;
    position: relative;
}

.danger-line{
    width: 100%;
    height: 15px;
    background-color: brown;
    position: absolute;
    bottom: 0%;
}
.hands{
    width: 80px;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 15px;
    left:  300px;
}